<h3>Comments for idea <%= @idea.name %></h3>
<% @comments.each do |comment| %>
  <div>
    <strong><%= comment.user_name %></strong>
    <br>
    <p><%= comment.body %></p>
    <p><%= link_to 'Delete', idea_comments_path(@idea), method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </div>
<% end %>
